
# ENV FILES
**/.env


__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

venv/
env/


backend/whereismybus.db
*.db


frontend/node_modules/
node_modules/

# Build output (if you run npm build later)
frontend/build/
dist/


*.log
*.tmp
*.swp


.DS_Store
Thumbs.db


.vscode/

.pytest_cache/
coverage/
